@import "tailwindcss";


body {
  background-color: oklch(0.869 0.022 252.894);
}

.text-half-white {
  color: rgba(255, 255, 255, 0.5);
}

.hover\:text-oklch:hover {
  color: oklch(0.685 0.169 237.323);
}

.hover\:underline:hover {
  text-decoration: underline;
}

.hover\:scale-105:hover {
  transform: scale(1.05);
}

.fc-daygrid-event.maintenance-dot {
  background-color: red !important;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  margin: auto;
}

.maintenance-dot {
  background-color: blue !important;
  border: none !important;
}

.custom-event {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ensure the event spans the full height of the cell */
}
.event-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue; /* Default color */
}